.container{
  width: 100%;
  max-width: 1200px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin:auto
}



.card {
  margin: 20px;
  border-style: 3px solid rgba(228, 124, 5);
  border-radius: 10px;
  border-color: transparent;
  background-position: 50px -80px;
  background-color: rgb(231, 146, 49, 0.1) ;
  cursor: pointer;
  height: 430px;
  width: 270px;
  display: inline-block;
  box-shadow: 3px 3px 3px rgba(228, 124, 5);
}

.card:hover {
    transform: translateY(-15px);
    color: rgb(232, 111, 41);
 box-shadow: 0 0 10px rgb(232, 111, 41), 0 0 40px rgb(232, 111, 41), 0 0 70px rgb(232, 111, 41);
    }

h2 {
  font-size: larger;
  font-family: Verdana;
  color: black;
}

.image {
  border-radius: 10px;
  width: 230px;
  display: inline-block;
  margin: 20px;
}

.temwei {
  margin-top: 0px;
  margin-bottom: 0px;
}

p {
  margin-top: 8px;
  margin-bottom: 5px;
  color: black;
}